<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mb-4">
        Sistema Gerenciador Financeiro
      </h1>
      <p class="lead text-center pt-2 text-secondary">
        Bem-vindo ao seu controle financeiro pessoal!
        Este sistema foi projetado pra ajudá-lo a gerenciar suas finanças de maneira eficiente e organizada.
      </p>
      <p class="text-center pt-5">
        Com esse sistema você pode:
      </p>
      <ul class="list-group mb-4 text-center">
        <li class="list-group-item list-group-item-success">Visão geral com resumo das finanças</li>
        <li class="list-group-item list-group-item-success">Criar uma tabela de despesas e receitas</li>
        <li class="list-group-item list-group-item-success">Adicionar e remover receitas e despesas</li>
        <li class="list-group-item list-group-item-success">Organizar suas despesas e receitas de acordo com períodos</li>
        <li class="list-group-item list-group-item-success">Editar e visualizar seu perfil</li>
      </ul>
      <p class="text-center mt-4">
        Facilite a análise do comportamento financeiro e a tomada de decisões informadas para melhor gestão do seu dinheiro!
      </p>
    </div>
  </div>
</div>
</body>

<style>
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #072F38;
  }
  p {
    font-family: 'Verdana', sans-serif;
    color: #072F38;
  }
  .list-group-item {
    font-family: 'Tahoma', sans-serif;
    font-size: 1.1em;
  }
</style>
